<footer  role="footer"  style="background-color:#444c5f;margin-top:5%;">
        <div class="container">
					<div class="row">
						<div class="col-sm-2">
								<h5 style="color:white;margin:10% 0 10% 0"> <span  class="glyphicon glyphicon-copyright-mark">
								</span>&nbsp;&nbsp;Storrage, Inc.</h5>
						</div>
									<div class="col-sm-10 col-sm-push-6" >
										<div class="col-sm-2">
											<h5 id='footer-header' style="color:white;margin:10% 0 10% 0" >(800)983-2729</h5>
										</div>
											<div class="col-sm-2">
													<h5 style="color:white;margin:10% 0 10% 0" >help@storrage.com</h5>
											</div>
														<div class="col-sm-3">
																<h5  style="color:white;margin:6% 0 10% 0" >Questions?</h5>
														</div>             
									</div>
					</div>
             </div>
		
    </footer>