<!DOCTYPE html>
<html>
<head>
  <title>Storrage</title>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
<footer  style="background-color:#33ccff">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h4 style="color:white"><b>Storrage, Inc.</b></h4>
                      <p><a style="color:#133D8C" href="#"><b>19240 DES MOINES MEMORIAL</b></a> </p>
                        <p><a  style="color:#133D8C" style="color:white"><b>DR</b></a></p>
						<span style="color:white" class="locality"><b>SEATTLE</b></span> <abbr class="region" title="Washington"><b>WA</b></abbr> <span style="color:white" class="postal-code">98148</span>
						<p class="tel"><a style="color:#133D8C"  href="tel:+18009832729"><b>(800) 983-2729</b></a></p>
						<p class="email"><a style="color:#133D8C"  href="help@storrage.com"><b>help@storrage.com</b></a></p>
 
						
					<div   >
						<a class="tel" href="http://www.facebook.com/storrageseattle" target="_blank">
                       <img class="smicon"   style="padding:1% 2% 1% 2%" style="color:#33ccff" src="assets/icon_facebook.png"  height="auto" width="auto" alt="Pin Us us on Pinterest" >
					    </a>
						
						<a href="http://plus.google.com/+Storrage"  target="_blank">
                       <img class="smicon"  style="padding:1% 2% 1% 2%" src="assets/icon_gplus.png" height="auto" width="auto">
						</a>
						
						<a  href="http://www.pinterest.com/storrage/" target="_blank">
                       <img  class="smicon" style="padding:1% 2% 1% 2%" src="assets/icon_pinterest.png"  height="auto" width="auto">
						</a>
						
						<a  href="https://twitter.com/storrageseattle"  target="_blank">
                       <img  class="smicon" style="padding:1% 2% 1% 2%" src="assets/icon_twitter.png"  height="auto" width="auto" >
						</a>
						
						<a href=href="http://www.yelp.com/biz/storrage-inc-seattle"  target="_blank">
                       <img class="smicon" style="padding:1% 2% 1% 2%" src="assets/icon_yelp.png" height="auto" width="auto">
						</a>
						
						<a href="https://www.youtube.com/user/storrageseattle"  target="_blank">
                       <img  class="smicon" src="assets/icon_youtube.png"  height="auto" width="auto" >
						</a>
						
						<a href="http://www.angieslist.com/AngiesList/Review/8273344"  target="_blank">
                       <img class="smicon" style="padding:1% 2% 1% 2%" src="assets/icon_angieslist.png" height="auto" width="auto">
						</a>
						
					</div>	
                    
                </div>
                <div class="col-sm-7">
				<div class="col-sm-2">
				
                    <h4 id='footer-header' style="color:white" ><b>About</b></h4>
                   <p> <a style="color:#133D8C"  href="#"><b>Ecosystem</b></a></p>
					<p><a style="color:#133D8C"  href="#"><b>Questions</b></a></p>
					<p><a style="color:#133D8C" href="#" ><b>Testimonials</b></a></p>
					<p><a style="color:#133D8C" href="#"><b>Us</b></a></p>
					<p><a style="color:#133D8C"  href="#" ><b>Press</b></a></p>					
				</div>
				
				<div class="col-sm-2">
				
                    <h4  style="color:white" ><b>Legal</b></h4>
                    <p><a style="color:#133D8C"  href="#"><b>Agreement</b></a></p>
					<p><a style="color:#133D8C" href="#"><b>Privacy</b></a></p>
					<p><a style="color:#133D8C"  href="#"><b>Terms</b></a></p>
					<p><a style="color:#133D8C"  href="#"><b>Insurance</b></a></p>					
				</div>
				
				<div class="col-sm-3">
				
                    <h4  href="#" style="color:white"><b>Locations</b></h4>
                    <p><a  style="color:#133D8C"  href="#"><b>Seattle</b></a></p>
					<h4 href="#" style="color:white" ><b>Promotions</b></h4>
					<p><a style="color:#133D8C"  href="#"><b>Closet Makeover</b></a></p>
					<p><a style="color:#133D8C" href="#"><b>Daylight Storrage Time</b></a></p>
					<p><a style="color:#133D8C" href="#"><b>Un-deck The Halls</b></a></p>
                    <p><a style="color:#133D8C" href="#"><b>Santa's Gift Hider</b></a></p>					
				</div>

				
                </div>
                <div class="col-sm-2" style="margin-left:-5%">
                    <h4 href="#" style="color:white"> Solutions </h4>
                    <p><a style="color:#133D8C" href="#"><b>Business</b></a></p>
					<p><a style="color:#133D8C" href="#"><b>Consumer</b></a></p>
					<p><a style="color:#133D8C"  href="#"><b>Assisted Living</b></a></p>
					<p><a style="color:#133D8C" href="#"><b>Concierges</b></a></p>
					<p> <a style="color:#133D8C"  href="#"><b>Property Management</b></a></p>
					<p><a style="color:#133D8C" href="#"><b>Real Estate</b></a></p>
					<p><a style="color:#133D8C"  href="#"><b>Students</b></a></p>
					<p> <a style="color:#133D8C"  href="#"><b>Military</b></a></p>
                </div>
            </div>
        </div>
    </footer>