<header  style="background-color:#333399" role="header">
                <div class="container-fluid">
						<nav style="background-color:#333399">
								<div class="navbar-header"> 
									 <img src="assets/storrage-logo.png" style="padding:4px 0px 4px 10px" ></img>
								</div>
						</nav> 		
			    </div>  	 
						
	</header>
