<nav class="navbar navbar-default "  style="background-color:#333399">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      <img src="assets/storrage-logo.png" style="padding:4px 0px 4px 10px">
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav" style="margin: 0 0 0 2%">
	    
         <li style="color:red"><a href="#" style="color:#33ccff" >WHAT IT COSTS</a></li>
	
         <li style="color:red"><a href="#" style="color:#33ccff">HOW IT WORKS</a></li>
		  
         <li><a href="#" style="color:#33ccff">QUESTIONS?</a></li>
			 
         <li><a href="#" style="color:#33ccff">PROMOS</a></li>
		 
         <li><a href="#" style="color:#33ccff">BLOG</a></li>
		
        <li><a href="#" ></a></li>

      </ul>
	   
       <button type="button" class="btn btn-info" style="border-radius: 25px">GET STARTED</button>
       <a type="button" id="1" class="btn btn-info" href="login" style="border-radius: 20px; margin:8px 0% 7px 1% ">SIGNUP/SIGNIN</a>
   

    
    </div>
	
	
</nav>